    /* Padding to support responsive and overcome navigation bar */
    
    body {
        padding-top: 1.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    footer {
        padding-left: 1.5rem;
    }
    
    .red {
        color: red;
    }
    /* Error & Informational message validation color */
    
    #errorMsgId {
        color: green;
    }
    
    #errorMsgId.badInput {
        color: red;
    }
    /* Apply image width for team logo for nice view for phone number and other fields*/
    
    .imageWidth {
        width: 100%;
        height: 75%;
        border-radius: 50px;
    }
    /* Apply video width for quick cricket intro */
    
    .videoWidth {
        width: 100%;
        height: 100%;
    }
    /*Home logo image */
    
    .bgMediumImage {
        background-image: url("../images/bg_logo.png");
        background-size: 50%;
    }
    /*blockquote style for Cricketer's quote in Home page*/
    
    .blockquote {
        font-family: Georgia, serif;
        font-size: 18px;
        font-style: italic;
        width: 100%;
        margin: 0.25em 0;
        padding: 0.35em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
    }
    
    .blockquote:before {
        display: block;
        padding-left: 10px;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: #5bc0de;
    }
    
    .blockquote:after {
        display: block;
        padding-left: 10px;
        content: "\201D";
        font-size: 80px;
        position: absolute;
        right: 200px;
        top: 100px;
        color: #5bc0de;
    }
    /* Apply for the list items in the home page for navigation */
    
    .non-underline-link {
        text-decoration: none !important;
    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    
    @media only screen and (max-width: 600px) {
        .hideimage {
            display: none;
        }
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1em;
        }
        h3 {
            font-size: 1.25em;
        }
        .blockquote:after {
            display: block;
            padding-left: 10px;
            content: "\201D";
            font-size: 80px;
            position: absolute;
            right: 300px;
            top: 75px;
            color: #5bc0de;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    
    @media only screen and (min-width: 768px) {
        .hideimage {
            display: initial;
        }
        h1 {
            font-size: 2em;
        }
        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1.25em;
        }
        .blockquote:after {
            display: block;
            padding-left: 10px;
            content: "\201D";
            font-size: 80px;
            position: absolute;
            right: 200px;
            top: 100px;
            color: #5bc0de;
        }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    
    @media only screen and (min-width: 992px) {
        .hideimage {
            display: initial;
        }
        h1,
        h2 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.25em;
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    
    @media only screen and (min-width: 1200px) {
        .hideimage {
            display: initial;
        }
        h1,
        h2 {
            font-size: 2em;
        }
        h3 {
            font-size: 1.25em;
        }
    }